.school_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-column-gap: 0.5em;
  grid-row-gap: 1em;
}

.school_wrapper + .school_wrapper {
  border-top: 1px solid #eeeeeeff;
  margin-top: 1em;
  padding-top: 1em;
}

.name {
  grid-area: 1 / 1 / 2 / 3;
}

.type {
  grid-area: 1 / 3 / 2 / 5;
}

.admission {
  grid-area: 2 / 1 / 3 / 3;
}

.graduation {
  grid-area: 2 / 3 / 3 / 5;
}

.department {
  grid-area: 3 / 1 / 4 / 5;
}

.describe {
  grid-area: 4 / 1 / 5 / 5;
}
