@keyframes arrow_up_down {
  0% {
    transform: translateY(-0.2em);
  }
  50% {
    transform: translateY(0em);
  }
  100% {
    transform: translateY(-0.2em);
  }
}

.section {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.h1 {
  font-size: 5em;
  margin: 0;
  text-align: center;
  width: 100%;
  grid-area: 3 / 1 / 4 / 4;
}

.h2 {
  grid-area: 4 / 1 / 5 / 4;
  margin-top: 0;
}

.div {
  text-align: center;
  grid-area: 7 / 1 / 8 / 4;
}

.arrow {
  font-size: 5em;
  animation: arrow_up_down 0.8s infinite;
}

.arrow:after {
  content: none;
}

@media screen and (max-width: 410px) {
  .h1 {
    font-size: 4em;
  }
}
