.basic_info {
  display: flex;
  gap: 1em;
  align-items: center;
}

.profile_image {
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 50%;
  width: 9.375em;
}

.name {
  font-size: 3em;
  margin: 0.3em auto 0.3em auto;
}

.email {
  display: flex;
  align-items: center;
  margin-bottom: 0.75em;
}

.phone_birth_year {
  display: flex;
  gap: 2em;
}

.phone_birth_year span {
  display: flex;
  align-items: center;
}

.phone_birth_year span + span::before {
  position: relative;
  left: -0.9375em;
  content: "|";
}

.stack_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.stack_wrapper span {
  border-radius: 0.5em;
  display: inline-block;
  background-color: #eeeeeeff;
  padding: 1em;
}

.opensource_wrapper {
  display: flex;
  align-items: center;
  gap: 1em;
  cursor: pointer;
  border-radius: 2em;
}

.opensource_wrapper i {
  margin-left: auto;
  margin-right: 1em;
}

.opensource_wrapper:hover {
  background-color: #ececec7f;
  transition-duration: 0.3s;
}

.opensource_img {
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 50%;
  width: 4.375em;
}

.opensource_info {
  display: flex;
  flex-direction: column;
}

.opensource_name {
  font-size: 2em;
}

.contribute_type_wrapper {
  display: flex;
  gap: 0.2em;
}

.type {
  text-align: center;
  border-radius: 2em;
  padding: 0.1em 0.4em 0.1em 0.4em;
}

.opensource_describe {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

.opensource_describe a {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 650px) {
  .basic_info {
    flex-direction: column;
    gap: 0;
  }
  .phone_birth_year {
    flex-direction: column;
    gap: 0.75em;
  }
  .phone_birth_year span + span::before {
    content: none;
  }

  .tech_stack {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .stack_wrapper {
    gap: 0.1em;
    justify-content: center;
  }
}
