.section {
  padding-bottom: 80px;
}

.list {
  padding-left: 70px;
  padding-top: 40px;
  padding-right: 70px;
  background-color: #f6f8fa;
  margin-bottom: 40px;
}

.list section {
  padding-top: 20px;
  padding-right: 120px;
}

.list figure {
  height: 300px;
}

.list img {
  max-height: 100%;
}

.title {
  color: #000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
}

.list p {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.list .button {
  margin-top: 20px;
}

.contributeTypeList {
  margin: 10px 0 10px 0;
  list-style: none;
  display: flex;
  gap: 15px;
}

.contributeTypeList li {
  font-size: 16px;
  padding: 0 10px;
  border: 1px solid #d7d7d7;
  border-radius: 27px;
  color: white;
}

.detHed {
  padding-top: 42px;
  padding-bottom: 80px;
}

.detTitle {
  font-weight: 600;
  color: #000;
  font-size: 48px;
  margin-bottom: 20px;
}

.detDep {
  display: block;
  font-weight: 600;
  color: #000;
  font-size: 18px;
}

.contentSec {
  padding: 100px 0;
}

.contentSec p {
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 30px;
}

.contentSec h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}

.contentSec ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contentSec li {
  font-size: 18px;
  line-height: 36px;
  padding-left: 28px;
  position: relative;
  margin-bottom: 20px;
}

.contentSec li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 13px;
  border-radius: 100%;
  width: 8px;
  height: 8px;
  background-color: #373737;
}

@media (max-width: 768px) {
  .section {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .list {
    padding: 30px;
  }

  .list p {
    font-size: 15px;
    line-height: 30px;
  }

  .list section {
    padding-right: 0;
    padding-bottom: 30px;
  }

  .list figure {
    height: auto;
  }

  .detTitle {
    margin-bottom: 7px;
    font-size: 30px;
    line-height: 40px;
  }

  .contentSec {
    padding: 30px 0;
  }

  .contentSec h2 {
    font-size: 20px;
  }

  .contentSec p,
  .contentSec li {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .list section {
    padding-right: 30px;
  }

  .list figure {
    height: 300px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .list section {
    padding-right: 30px;
    padding-bottom: 60px;
  }
}
