.skillsSection {
  padding-bottom: 105px;
}
.skillsList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 11px 0 0;
}
.skillsList li {
  display: inline-block;
  color: #373737;
  font-size: 16px;
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #d7d7d7;
  border-radius: 27px;
  margin-right: 15px;
  margin-bottom: 15px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .skillsSection {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }
  .skillsSection :global(.col-12) {
    margin-bottom: 40px;
  }
  .skillsList li {
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 14px;
  }
}

@media print {
  .skillsSection {
    margin-bottom: 1000px;
  }
}
