html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
}

html {
  scroll-snap-type: y mandatory;
}

i {
  font-size: 1.5em;
}

i::after {
  content: "\00a0";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h2 {
  border-top: 1px solid black;
  padding-top: 1em;
  width: 100%;
  text-align: center;
}
