div.key_value {
  display: flex;
  flex-direction: column;
  *:last-child {
    background-color: #eeeeeeff;
    border-radius: 0.5em;
  }
  span:last-child {
    display: inline-block;
    padding: 1em;
    min-height: 3em;
  }
  ul:last-child {
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1.25em;
  }
}

h2 {
  border-top: 1px solid black;
  padding-top: 1em;
  width: 100%;
  text-align: center;
}

main {
  width: 100%;
  max-width: 800px;
  margin: 1em auto 0 auto;
  padding: 0 1em 0 1em;
  section.basic_info {
    display: flex;
    gap: 1em;
    align-items: center;
    img {
      border: 1px solid rgba(128, 128, 128, 0.5);
      border-radius: 50%;
      width: 9.375em;
    }
    div {
      h1.name {
        font-size: 3em;
        margin: 0.3em auto 0.3em auto;
      }
      span.email {
        display: flex;
        align-items: center;
        margin-bottom: 0.75em;
      }
      div.phone_birth_year {
        display: flex;
        gap: 2em;
        span {
          display: flex;
          align-items: center;
        }
        span + span {
          &::before {
            position: relative;
            left: -0.9375em;
            content: "|";
          }
        }
      }
    }
  }
  section.tech_stack {
    div.stack_wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5em;
      span {
        border-radius: 0.5em;
        display: inline-block;
        background-color: #eeeeeeff;
        padding: 1em;
      }
    }
  }
  section.career {
    div.career_wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: auto auto auto auto;
      grid-column-gap: 0.5em;
      grid-row-gap: 1em;
      div.name {
        grid-area: 1 / 1 / 2 / 5;
      }
      div.department {
        grid-area: 2 / 1 / 3 / 3;
      }
      div.position {
        grid-area: 2 / 3 / 3 / 5;
      }
      div.entering {
        grid-area: 3 / 1 / 4 / 3;
      }
      div.resignation {
        grid-area: 3 / 3 / 4 / 5;
      }
      div.projects {
        grid-area: 4 / 1 / 5 / 5;
      }
    }
  }
  section.education {
    div.school_wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: auto auto auto auto;
      grid-column-gap: 0.5em;
      grid-row-gap: 1em;
      div.name {
        grid-area: 1 / 1 / 2 / 3;
      }
      div.type {
        grid-area: 1 / 3 / 2 / 5;
      }
      div.admission {
        grid-area: 2 / 1 / 3 / 3;
      }
      div.graduation {
        grid-area: 2 / 3 / 3 / 5;
      }
      div.department {
        grid-area: 3 / 1 / 4 / 5;
      }
      div.describe {
        grid-area: 4 / 1 / 5 / 5;
      }
    }
    div.school_wrapper + div.school_wrapper {
      border-top: 1px solid #eeeeeeff;
      margin-top: 1em;
      padding-top: 1em;
    }
  }
  section.opensource {
    div.opensource_wrapper {
      display: flex;
      align-items: center;
      gap: 1em;
      cursor: pointer;
      border-radius: 2em;
      img {
        border: 1px solid rgba(128, 128, 128, 0.5);
        border-radius: 50%;
        width: 4.375em;
      }
      div.opensource_info {
        display: flex;
        flex-direction: column;
        span.name {
          font-size: 2em;
        }
        div.contribute_type_wrapper {
          display: flex;
          gap: 0.2em;
          span.type {
            text-align: center;
            border-radius: 2em;
            padding: 0.1em 0.4em 0.1em 0.4em;
          }
        }
      }
      i {
        margin-left: auto;
        margin-right: 1em;
      }
      &:hover {
        background-color: #ececec7f;
        transition-duration: 0.3s;
      }
    }
    div.opensource_describe {
      display: flex;
      flex-direction: column;
      gap: 1em;
      padding: 1em;
      a {
        display: flex;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  main {
    section.basic_info {
      flex-direction: column;
      gap: 0;
      div {
        div.phone_birth_year {
          flex-direction: column;
          gap: 0.75em;
          span + span {
            &::before {
              content: none;
            }
          }
        }
      }
    }
    section.tech_stack {
      display: flex;
      flex-direction: column;
      align-items: center;
      div.stack_wrapper {
        gap: 0.1em;
        justify-content: center;
      }
    }
    section.education {
    }
  }
}
