.key_value {
  display: flex;
  flex-direction: column;
}

.key_value *:last-child {
  background-color: #eeeeeeff;
  border-radius: 0.5em;
}

.key_value span:last-child {
  display: inline-block;
  padding: 1em;
  min-height: 3em;
}

.key_value ul:last-child {
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 1.25em;
}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid black;
}

.section h2 {
  border-top: none;
}
